$theme-colors: (
    "primary": rgb(0, 61, 61),
    "secondary": rgb(100, 64, 62)
);

@import "~bootstrap/scss/bootstrap";

$bgClr: rgb(209, 208, 130);

/*
* {
  outline: 1px solid #f00 !important;
}
*/

body {
    background-color: $bgClr;
}

.App {
    padding: 5vh 2vw 5vh;
}


