@import "App.scss";

.productBox {
    position: relative;
    text-align: center;
    background-color: $bgClr2;
    .delete-checkbox {
        position: absolute;
        top: 0.5vw;
        right: 0.5vw;
    }
}
